<h1>Travelsome</h1>

<p>
  Connect with like-minded travelers.</p> 

<p>Find a trip, find a travel buddy, find fellow travelers in your area.
</p>
<p>Where do you want to go today?</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>