<h1>Travelsome</h1>

<p>
  Connect with like-minded travelers. Find a trip, find a travel buddy, find fellow travelers in your area.
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>